@import "./ChatInputDark.scss";

$main-color: #f2f2f2;

.chatInput {
  background: $main-color;
  border-radius: 0px 0px 10px 10px;
  height: 72px;
}

.chat-form {
  padding: 20px;
  display: flex;

  &__textarea {
    width: 80%;
    margin-left: 0;
    height: 52px;
    border: none;
    outline: none;
    background: $main-color;
    resize: none;
    min-height: 10px;
    max-height: 50px;
    overflow-y: hidden;

    &:focus::-webkit-input-placeholder {
      opacity: 0.3;
    }

    &::-webkit-input-placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.05em;
      color: rgba(14, 14, 14, 0.7);
      padding-top: 8px;
    }
  }

  &__submit {
    width: 32px;
    height: 32px;
    background-image: url("../../images/icons/ChatSubmit.svg");
    background-repeat: no-repeat;
    object-fit: contain;
    border: none;
    outline: none;
    cursor: pointer;
    // margin-top: 10px;
    margin-left: 10px;

    &:hover {
      transition: 0.5s;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 480px) {
  .chatInput {
    border-radius: 0;
  }
}
