$main-background-color-dark: #202020;
$main-color-text-dark: #ffffff;

.dark .chatInput {
  background-color: $main-background-color-dark;
}

.dark .chat-form {
  &__textarea {
    background: $main-background-color-dark;
    color: $main-color-text-dark;
    opacity: 0.7;

    &::-webkit-input-placeholder {
      color: $main-color-text-dark;
      opacity: 0.7;
    }
  }

  &__submit {
    background-color: $main-background-color-dark;
  }
}
