.dark .about__description {
  color: #fff;
}

.dark .about__text {
  color: #fff;
}

.dark .about__text_black {
  color: #6A6A6A;
}

.dark .about__text_black-2 {
  color: #fff;
}

.dark .about__text-footer {
  color: #fff;
}

.dark .about__graph-text {
  color: #2d2d2d;
}

.dark .about__table-text {
  color: #fff;
}

.dark .about__table-body {
  color: rgba(255, 255, 255, 0.6);
}

.dark .about__table-body thead {
  color: #fff;
}
.dark .about__article-footer {
  background: #0E0E0E;
}
.dark .about__body-wrapper {
  padding-top: 125px;
  max-width: 1628px;
  background: #1E1E1E;
  border-radius: 15px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1627px) {
  .dark .about__body-wrapper {
    padding-top: calc(15px + 110 * ((100vw - 320px) / 1308));
  }
}