@import "../../mixins/mixins.scss";

$main-color: rgba(67, 7, 114, 1);

.chat-header {
  background: linear-gradient(rgba(70, 31, 123, 1), rgba(139, 73, 235, 1));
  display: flex;
  justify-content: space-around;

  &__img-container {
    position: relative;
    @include adaptive(width, 66, 50);
    @include adaptive(height, 66, 50);
    background-color: $main-color;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include adaptivePadding(margin, 29, 0, 15, 0);

    &::after {
      position: absolute;
      content: "";
      background-image: url("../../images/icons/ChatLogo.svg");
      @include adaptive(width, 46.41, 33.45);
      @include adaptive(height, 26, 19.74);
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @include adaptivePadding(margin, 0, 10, 0, 7);
      margin-left: 7px;
    }
  }

  &__logo {
    width: 46px;
    height: 11px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main-header {
    font-weight: bold;
    font-size: calc(16px + (24 - 16) * ((100vw - 280px) / (1920 - 280)));
    line-height: calc(16px + (24 - 16) * ((100vw - 280px) / (1920 - 280)));
    color: #fff;
    margin-bottom: 7px;
  }

  &__online-status {
    font-size: calc(8px + (14 - 8) * ((100vw - 280px) / (1920 - 280)));
    line-height: calc(8px + (14 - 8) * ((100vw - 280px) / (1920 - 280)));
    color: #ffffff;
    opacity: 0.8;

    &-image {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: rgba(0, 255, 25, 1);
        border-radius: 50%;
        @include adaptivePadding(margin, 4, 6, 0, 6);
      }
    }
  }

  &__close {
    @include adaptive(width, 32, 23);
    @include adaptive(height, 32, 23);
    background-color: $main-color;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.5s;
    @include adaptivePadding(margin, 21, 0, 21, 15);

    &:hover {
      opacity: 0.7;
    }

    &::after {
      position: absolute;
      content: "";
      @include adaptive(width, 16, 11);
      @include adaptive(height, 16, 11);
      background-image: url("../../images/icons/CloseButton.svg");
      background-size: cover;
      background-position: center;
      @include adaptivePadding(margin, 2.5, 1.7, 1.3, 1.5);
      object-fit: contain;
      top: 20%;
      left: 20%;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .chat-header {
    height: 79px;

    &__main-header {
      font-size: 18px;
      line-height: 18px;
    }

    &__online-status {
      font-size: 10px;
      line-height: 10px;
    }

    &__img-container {
      margin-right: 12px;
    }

    &__close::after {
      @include adaptivePadding(margin, 21, 0, 1, 1.5);
    }
  }
}
