@import url("./SwitcherDark.css");

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;

  position: absolute;
  z-index: 4;
  top: 150px;
  right: 0;
  padding: 30px 70px;
  background: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .switcher {
    position: fixed;
  }
}

.switch label {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: rgba(14, 14, 14, 0.7);
}
.switcher__input {
  display: none;
}
input[type="checkbox"].switcher__input {
  position: absolute;
  margin: 10px 0 0 16px;
  padding-right: 12px;
}
input[type="checkbox"].switcher__input + label {
  position: relative;
  padding: 0 0 0 62px;
  margin-right: 15px;
  line-height: 2em;
  padding-top: 0;
}
input[type="checkbox"].switcher__input + label:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 45px;
  height: 24px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
input[type="checkbox"].switcher__input + label:after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
input[type="checkbox"].switcher__input + label:hover:after {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
input[type="checkbox"].switcher__input:checked + label:after {
  margin-left: 21px;
  border: none;
  left: 5px;
  top: 5px;
}
input[type="checkbox"].switcher__input:checked + label:before {
  background: #8960e2;
  border: none;
  width: 47px;
  height: 26px;
}

@media screen and (max-width: 1627.98px) {
  .switcher {
    top: calc(70px + 80 * ((100vw - 320px) / 1308));
  }
}
@media screen and (max-width: 1070px) {
  .switcher {
    position: static;
    padding: 0;
  }
}
